#world {
  /* background: url(../images/world_map.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
canvas {
  border: 1px solid #d3d3d3;
  background-color: #f1f1f1;
}
.ninja2 {
  width: 536px;
  height: 480px;
  overflow: hidden;
}

.ninja2_attack_spritesheet {
  animation: moveSpritesheet 1s steps(10);
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
